# Dependencies
**/node_modules/
**/.venv/
**/venv/
**/env/

# Python Cache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# React Production builds
**/dist/
**/build/

# Local databases and instances
**/instance/*.db
**/*.db
**/*.sqlite

# Environment keys
.env
.env.local
.env.*.local

# IDE & system metadata
.idea/
.vscode/
.DS_Store
Thumbs.db
